.main-image-text-container {
    background-color: #5628D2;
    display: flex;
    margin-bottom: 3vw;
    padding-top: 6vw;
    border-radius: 3vw;
}

.image-text-container {
    flex: 1;
    flex-direction: vertical;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    align-items: center;
}

.text-container {
    width: 60%;
    margin: auto;
}

.text-1 {
    font-size: 2.4vw;
    color: #FFFFFF;
    line-height: 3.3vw;
}

.text-2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 1.9vw;
    font-size: 1.7vw;
    color: #FFFFFF;
}

.text-3 {
    font-style: normal;
    font-family: Inter;
    font-weight: bold;
    font-size: 1.7vw;
    color: #FFFFFF;
}

.image-container {
    align-self: flex-end;
    flex: 1.4;
}

.main-body {
    display: flex;
}

.menu-items-container {
    background-color: #FFFFFF;
    flex: 1;
}

.main-content {
    flex: 4;
}

.menu-item {
    display: flex;
    margin-top: 0.3vw;
}

.menu-item-text {
    color: black;
    font-weight: bold;
    font-size: 1.7vw;
    flex: 4
}

.menu-item-symbol {
    flex: 1;
    color: black;
    font-weight: bold;
}

.cross-symbol {
    font-size: 1vw;
}

.plus-symbol {
    font-size: 1.9vw;
}

.my-project {
    padding: 3vw 6.5vw 3vw 6.5vw;
}

.main-content-header {
    background-color: red;
    margin-bottom: 3vw;
    display: flex;
}

.input-box-container {
    background-color: blue;
    flex: 2;
}

.input-box {
    border-radius: 4px;
    height: 4vw;
    width: 100%;
}

.the-button-container {
    background-color: #fff;
    flex: 1;
    text-align: right;
}

.the-button {
    background-color: black;
    color: white;
    height: 80%;
    border-radius: 3vw;
}

.main-content-body {
    /* background-color: yellow; */
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
}

.boxes {
    flex: 0 0 30%;
    flex-direction: column;
    /* align-items: center; */
    display: flex;
    margin-right: 3%;
    margin-bottom: 2vw;
    /* flex: 1 1 160px;
    flex-wrap: wrap; */
}

.boxes-image-container {
    margin-bottom: 0.75vw;
}

.the-img-house {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.boxes-image-description {
    display: flex;
}

.bookmark-logo-container {
    flex: 1;
}

.details-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
}

.res-apartment-text {
    font-size: 1.2vw;
    line-height: 2.2vw;
    font-weight: bold;
}

.address-text {
    font-size: 0.9vw;
}

.more-text {
    font-size: 1.1vw;
    font-weight: bold;
    line-height: 3.5vw;
}

.bookmark-logo-container {}

.header-container {
    display: flex;
    margin-bottom: 2vw;
}

.header-text-container {
    flex: 1;
}

.login-container {
    flex: 1;
    display: flex;
}

.empty {
    background-color: #FFFFFF;
    flex: 1;
}

.the-login-buttons {
    background-color: #FFFFFF;
    flex: 1;
    display: flex;
}

.header-text-description {
    font-size: 2.2vw;
}

.normal-button {
    background-color: black;
    color: white;
    border-radius: 50vw;
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.round-button {
    background-color: black;
    color: white;
    border-radius: 50vw;
}

.button-container {
    flex: 1;
    text-align: center;
}

.sign-up-text {
    flex: 1;
    font-size: 1.5vw;
}